<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include templates/header.ejs%>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<script src="https://api.waqi.info/feed/shanghai/?token=5e3430ee03115b533faddd23e524e086e4915a74"></script>
</body>
</html>
